*{
    margin: 0%;
    padding: 0%;
}
h1{
    color: black;
    background-color: rgb(173, 143, 63);
    text-align: center;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    border-radius: 10px;
    padding: 5px;
}
nav{
    color: darkolivegreen;
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    border: 3px solid rgb(79, 99, 29);
    text-align: center;
}
.principal img{
    width: 300px;
    border-radius: 20px;
    margin: 10px;
    border: 3px solid rgb(173, 143, 63);
}
.subtitulo{
    color: darkolivegreen;
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
    width: max-content;
    text-align: center;
    font-size: 100;
    font-weight: 400;
    margin: 10px;
    border: 5px solid rgb(79, 99, 29);
    border-radius: 20px;
    padding: 5px;
}
.descripcion{
    color: rgb(79, 99, 29);
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    text-align: center;
    font-size: 80;
    margin: 10px;
    border: 5px solid rgb(79, 99, 29);
    border-radius: 20px;
    padding: 5px;
}
footer{
    color: black;
    background-color: rgb(173, 143, 63);
    text-align: center;
    font-size: 80%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-radius: 10px;
    padding: 5px;
}
